<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Asana | Pet Adoption Agency in San Francisco</title>
  <meta name="description" content="Asana is the premier pet adoption agency in San Francisco">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/assets/app.css">
</head>
<body>
  {% include 'assets/snippets/header.html' %}
  {% include 'assets/snippets/footer.html' %}

  <div class="tiles-container"></div>

  <div class="tile template">
    <img src="" class="dog-picture" />
  </div>

  <div class="modal-overlay">
    <div class="modal">
      <span class="close">&times;</span>

      <img src="" class="dog-picture" />
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/assets/snippets/tileUI.js"></script>

  <script type="text/javascript">
    (function($) {
      const $body = $('body');
      const $container = $('.tiles-container');
      const $template = $('.tile.template');
      const $modal = $('.modal');
      const $modalImage = $('.modal .dog-picture');

      $(document)
        .on('click', '.close, .modal-overlay', function(e) {
          $body.removeClass('overlay');
        })
        .on('click', '.modal', function(e) {
          // prevent closing modal when it's clicked
          e.stopPropagation();
        })
        .on('click', '.tile', function(e) {
          const $tile = $(this);

          $modalImage.attr('src', $tile.data('img'));

          $body.addClass('overlay');
        });

      function buildTile(dog) {
        const $tile = $template.clone();
        $tile.removeClass('template').data('img', dog.image);

        $tile.find('.dog-picture').attr('src', dog.image);

        return $tile;
      };

      $.getJSON('/dogs', function(response) {
        const $tiles = response.dogs.map(buildTile);
        $container.append($tiles);

        $container.tileUI({
          "infiniteScroll": true,
          "nextUrl": "/dogs",
          "maxPages": Number.POSITIVE_INFINITY,
          "columnGap": 35,
          "buildTiles": function(response) {
            return response.dogs.map(buildTile);
          }
        });
      });
    })(jQuery);
  </script>
</body>
</html>
