/* Globals */
:root {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --color-secondary: #333;
  --color-link: #635ac7;

  --color-tile-box-shadow: rgba(0, 0, 0, 0.3);

  --color-modal-overlay: rgba(0, 0, 0, 0.4);
  --color-modal-box-shadow: rgba(0, 0, 0, 0.5);
  --color-modal-close-bg: #b1b1b1;
  --color-modal-close-shadow: rgba(0, 0, 0, 0.5);
  --color-modal-close-primary: #fff;

  --color-bg: #fff;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

body {
  margin: 0;
}

a {
  color: var(--color-link);
}

/* Global Header */
.global-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

/* Header Quote */
.header-quote {
  color: var(--color);
  font-family: var(--font-serif);
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
}

/* Global Footer */
.global-footer {
  color: var(--color);
  font-family: var(--font-serif);
  text-align: center;
}

/* ------------------------- */
img {
  max-width: 100%;
  max-height: 100%;
}

.global-footer {
  margin-bottom: 2rem;
}

/* Tiles */
.tile-column:first-child {
  margin-left: 0;
}

.tile {
  width: 200px;

  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px 5px 0 0;

  box-shadow: 0 0 3px var(--color-tile-box-shadow);
  cursor: pointer;
}

.tile.template {
  display: none;
}

/* Modals */
body.overlay {
  overflow: hidden;
}

body.overlay .modal-overlay {
  display: block;
}

.modal-overlay {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: var(--color-modal-overlay);
  box-shadow: 0 0 10px var(--color-modal-box-shadow);
}

.modal {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);

  padding: 20px;
  border-radius: 5px;

  background: var(--color-bg);
  box-shadow: 0 0 10px var(--color-modal-box-shadow);
}

.modal .close {
  position: absolute;
  top: -0.7em;
  right: -0.7em;

  width: 1em;
  height: 1em;
  padding: 0.1em;

  border: 2px solid var(--color-modal-close-primary);
  border-radius: 1em;

  background: var(--color-modal-close-bg);
  box-shadow: 0 0 5px var(--color-modal-close-shadow);

  text-align: center;
  font-size: 1.2em;
  line-height: 0.8;
  font-weight: bold;
  color: var(--color-modal-close-primary);

  cursor: pointer;
}

.modal .dog-picture {
  max-width: 290px;
  max-height: 290px;
}

@media (min-width: 767px) {
  .modal .dog-picture {
    max-width: 500px;
    max-height: 500px;
  }
}
