/* Globals */
:root {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --color-secondary: #333;
  --color-link: #635ac7;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

body {
  margin: 0;
}

a {
  color: var(--color-link);
}

/* Global Header */
.global-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

/* Header Quote */
.header-quote {
  color: var(--color);
  font-family: var(--font-serif);
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
}

/* Global Footer */
.global-footer {
  color: var(--color);
  font-family: var(--font-serif);
  text-align: center;
}

/* ------------------------- */
.global-footer {
  clear: both;
}

/* Tiles */
.tile-column {
  position: static !important; /* cancel out my stupidity from 6 years ago */

  margin-left: 15px;
  float: left;
}

.tile-column:first-child {
  margin-left: 0;
}

.tile {
  max-width: 200px;

  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px 5px 0 0;

  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.tile.template {
  display: none;
}

.tile .dog-picture {
  max-width: 100%;
}
